*.swp
Makefile
Makefile.in
_oldmakefile
aclocal.m4
autom4te.cache/
bigmc-0.1.tar.gz
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/graphs/*.png
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/_oldmakefile
src/bgparser.cpp
src/bgparser.h
src/bgparser.tab.cpp
src/bgparser.tab.hpp
src/bgscanner.cc
src/parser/Makefile.in
src/parser/_oldmakefile
src/predicates/.deps/
src/predicates/.libs/
src/predicates/Makefile
src/predicates/Makefile.in
src/predicates/_oldmakefile
src/predicates/*.la
src/predicates/*.lo
stamp-h1
ylwrap

